.App {
 
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

a{
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3.9rem 0;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 12rem;
  width: 12rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 3%;
}
.circle2 {
  bottom: 5%;
  left: 3%;
}